* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background: linear-gradient(to right bottom, #b40eca, #ce7d03);
}

#main {
    min-height: 100vh;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-start;

}

#addBtn {
    position: fixed;
    top: 20px;
    right: 20px;
}